<h1>Add a New Item</h1>

<form action="/insert_item" method="post">
  <div>
    <label for="zebra">Link URL</label>
    <input id="zebra" name="link_url_param" type="text" placeholder="Enter a link URL...">
  </div>

  <div>
    <label for="lion">Link Description</label>
    <input id="lion" name="link_description_param" type="text" placeholder="Enter a link description...">
  </div>

  <div>
    <label for="pig">Thumbnail URL</label>
    <input id="pig" name="thumbnail_url_param" type="text" placeholder="Enter a URL...">
  </div>

  <button>Create item</button>
</form>
